* {
  box-sizing: border-box;
}
body {
  font-size: calc(11px + (4) * ((100vw - 740px) / (756)));
  background-color: black;
  margin: 1px;
  padding: 0px;
  color: white;
  font-family: "Bebas Neue", cursive;
}
.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.5rem;
  grid-template-rows: 5.7fr;
  grid-auto-rows: 3fr;
}
.item {
  color: white;
}
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
  background-color: black;
}
/* Navbar */

#upper-nav,
#lower-nav {
  display: none;
}

#navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 3% 2%;
}

#navbar a:hover {
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgb(0, 0, 0) 10%);
}
#navbar img {
  width: 15%;
}
/* Icons */
#icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
  margin: 0% 3%;
  cursor: pointer;
}

#icons img {
  margin: 0% 4%;
  width: calc(16px + (5) * ((100vw - 740px) / (756)));
  /* width: 20px; */
  transition: all 0.4 ease;
}

#icons img:hover {
  transform: scale(1.1, 1.1);
}

#profile {
  width: calc(28px + (5) * ((100vw - 740px) / (756))) !important;
}

.wrapper {
  color: black;
  width: 10vw;
}
.select-btn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn {
  height: 2vw;
  padding: 0 1vw;

  background: #fff;
  justify-content: space-between;
}
.select-btn i {
  color: black;

  transition: transform 0.16s linear;
}
.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}
.content {
  position: absolute;
  display: none;
  padding: 0.5vw;
  margin-top: 0.5vw;
  background: #fff;
}

.wrapper.active .content {
  display: block;
}
.content .search {
  position: relative;
}
.search i {
  top: 50%;
  left: 0.5vw;
  color: black;
  /* font-size: 20px; */
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input {
  height: 2.3vw;
  width: 100%;
  outline: none;

  padding: 0 1.5vw 0 1.6vw;
  border: 1px solid #b3b3b3;
}
.search input:focus {
  border: 2px solid black;
}
.search input::placeholder {
  color: #bfbfbf;
}
.content .options {
  /* margin-top: 10px; */
  padding: 1vw;
  max-height: 7vw;
  overflow-y: auto;
}
.options::-webkit-scrollbar {
  width: 5px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.options::-webkit-scrollbar-thumb {
  background: #ccc;
}
.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
.options li {
  height: 2vw;
}
.options li:hover,
li.selected {
  /* border-radius: 5px; */
  background: #f2f2f2;
}

/* Poster */

#phone-poster {
  display: none;
  height: 55%;
}

.hover-sec {
  cursor: pointer;
}
.hover-sec img {
  position: relative;
  top: 9%;
  width: 100%;
  height: 90%;
  margin: 0%;
  object-fit: cover;
  object-position: 20% 80%;
}

.inner-box {
  display: flex;
  margin: 1px;
  padding: 1rem;
  padding-top: 0rem;
  width: 100%;
}

/* Box Hover Properties */
.inner-box img {
  display: block;
  width: 100%;

  padding: 0rem 0.2rem;
  cursor: pointer;
}
.cat:hover {
  transform: scale(1.1);
  z-index: 2;
}
.heading {
  margin: 0px 1rem;
  padding: 0px 0.4rem;
  font-size: calc(12px + (5) * ((100vw - 740px) / (756)));
}

.cat {
  transition: all 0.4s;
  position: relative;
  /* z-index: 1; */
}
.overlay {
  font-size: calc(8px + (2) * ((100vw - 740px) / (756)));
  font-family: "Roboto", sans-serif;

  transition: all 0.4s;
  padding: 5%;
  display: none;
  position: absolute;
  bottom: 0%;
  left: 1.5%;
  width: 97%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9082983535210959) 47%,
    rgba(0, 0, 0, 0.6281863087031687) 81%,
    rgba(0, 0, 0, 0.07076333951549374) 100%
  );
}
.cat:hover .overlay {
  display: block;
}
.overlay a {
  text-decoration: none;
  color: white;
}

/* FOOTER  */

footer {
  font-size: calc(11px + (2) * ((100vw - 740px) / (756)));
  margin: 0rem 1px 2rem 1px;
  padding: 4rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(69, 67, 67, 0.262);
}

#info {
  width: 45vw;
}

#info a {
  text-decoration: none;
  color: white;
  margin: 0% 2%;
  font-size: calc(17px + (2) * ((100vw - 740px) / (756)));
}

#info a:hover {
  cursor: pointer;
  color: red;
}
#outer-contact {
  text-align: right;
}

#outer-contact p {
  text-align: center;
  padding: 0% 1rem;
  margin: 0px 0%;
  font-size: calc(17px + (2) * ((100vw - 740px) / (756)));
}
#inner-contact {
  display: flex;
  width: 100%;
  justify-content: center;
}
#inner-contact img {
  width: 4.5vw;
  padding: 2%;
  cursor: pointer;
}
.connection {
  display: flex;
  justify-content: space-evenly;
  width: 29%;
}

#connect p {
  text-align: center;
  margin: 0%;
  font-size: calc(17px + (2) * ((100vw - 740px) / (756)));
}

#connect img {
  margin: -5% 0%;
  width: 15vw;
  cursor: pointer;
}
/* Smaller screen  */
@media only screen and (max-width: 1122px) {
  #icons img {
    width: 1.8vw;
  }

  .extra {
    display: none;
  }

  .grid {
    grid-gap: 0.7rem;
    grid-template-rows: 1.6fr;
    grid-auto-rows: 0.84fr;
  }

  .hover-sec img {
    object-position: 25% 75%;
  }

  .inner-box {
    padding: 0.5rem 1rem;
  }
  #info {
    width: 55vw;
  }

  #info a {
    margin: 0% 1%;
  }
}
